.button{
    display: flex;
    padding: 5px 16px;
    border-radius: 6px;
    border: 1px solid rgba(58, 82, 82, 0.6);
    align-items: center;
}

.ul{
    list-style: none;
  }
  
  .li{
    list-style: none;
  }